<div class="registrarse pb-5">
  <div class="titulo text-center pt-5 pb-5">
    <h2>REGISTRATE</h2>
  </div>
  <div class="formulario">
    <form [formGroup]="formulario">

      <!--CORREO-->
      <div class="form-group">
        <label for="correo">Correo electronico</label>
        <input type="email" class="form-control"
          [ngClass]="{ 'is-invalid': correo.invalid && (correo.touched || correo.dirty ), 'is-valid': correo.valid}"
          formControlName="correo" name="correo" />
        <div class="invalid-feedback" *ngIf=" correo.invalid && correo.errors.required">
          Campo requerido.
        </div>
        <div class="invalid-feedback" *ngIf=" correo.invalid && correo.errors.minlength">
          Correo debera tener mas de 5 letras.
        </div>
        <div class="invalid-feedback"
          *ngIf="(correo.dirty || correo.touched) && correo.invalid && correo.errors.pattern">
          Debe introducir un correo valido.
        </div>
      </div>

      <!--CONTRASEÑA-->
      <div class="form-group">
        <label for="clave">Contraseña</label>
        <input type="password" class="form-control"
          [ngClass]="{ 'is-invalid': clave.invalid && (clave.touched || clave.dirty), 'is-valid': clave.valid}"
          formControlName="clave" name="clave" />
        <div class="invalid-feedback" *ngIf=" clave.invalid && clave.errors.required">
          Campo requerido.
        </div>
        <div class="invalid-feedback" *ngIf=" clave.invalid && clave.errors.minlength">
          Contraseña debera tener mas de 8 letras.
        </div>
        <div class="invalid-feedback" *ngIf="(clave.dirty || clave.touched) && clave.invalid && clave.errors.pattern">
          Contraseña debera tener al menos una letra mayuscula, una minuscula y un numero.
        </div>
      </div>

      <div class="boton text-center">
        <button type="submit" class="btn btn-primary" [disabled]="!formulario.valid"
          (click)="Registrarse()">Registrar</button>
      </div>
    </form>
  </div>
</div>