<div class="portada text-center">
    <div class="mt-5">
        <h1 class="display-4">LA SANGRE SOLO HACE <br>
            <span class="titulo-color">PARIENTES,</span>
            <br> EL AMOR HACE <br>
            <span class="titulo-color">FAMILIAS</span>
        </h1>
    </div>

    <div class="imagen mt-3">
        <img src="https://galmoro.com/proyectoweb/assets/img/bg-home.png">
    </div>

    <div class="boton pt-5 pb-5">
        <button type="button" (click)="ruta()" class="btn btn-primary btn-lg">ADOPTAR AHORA</button>
    </div>
</div>