<div class="contacto text-center">
    <div class="titulo pt-5 pb-3">
        <h2>Contacto</h2>
    </div>
    <div class="texto">
        <img src="https://galmoro.com/proyectoweb/assets/img/logo.png" alt="" width="100" height="100">
        <p>Nuestro Hogar está abierto, queremos que nos conozcas, que sepas de nuestra existencia y si compartís nuestro
            espíritu puedas sumarte para juntos garantizar una sociedad inclusiva y con igualdad de oportunidades. </p>
    </div>
    <div class="redes">

        <div class="facebook">
            <img src="https://galmoro.com/proyectoweb/assets/img/facebook-icon.png" alt=""> /CasaHogar
        </div>

        <div class="instragram">
            <img src="https://galmoro.com/proyectoweb/assets/img/instagram-icon.png" alt=""> /CasaHogar
        </div>

        <div class="twitter">
            <img src="https://galmoro.com/proyectoweb/assets/img/twitter-icon.png" alt=""> /CasaHogar
        </div>

        <div class="whatsapp">
            <img src="https://galmoro.com/proyectoweb/assets/img/whatsapp-icon.png" alt=""> +54 (011) 87859678
        </div>
        <div class="reset"></div>
    </div>
    <div class="direccion texto ">
        <p class="small">
            Pichincha 1372, Ciudad de Buenos Aires. Argentina
        </p>
    </div>
</div>