<div class="informacion">

    <div class="imagen">
        <img src="https://galmoro.com/proyectoweb/assets/img/bg-5.jpg" alt="">
    </div>

    <div class=" texto text-center">
        <h2>Nosotros</h2>
        <p><b><i>Casa Hogar</i></b> es una Asociación Civil sin fines de lucro que se conformó para dar sustento al
            Hogar de Niños. <br> En nuestra casa viven 25 niños, niñas y adolescentes en situación de vulnerabilidad
            social, asistidos por un amplio grupo
            de personas desde lo convivencial y lo profesional. Les brindamos atención integral, dentro de un ambiente
            familiar de contención emocional y afectiva.
        </p>
    </div>

</div>