.card {
    width: 100%;
    overflow: hidden;
    background-color: transparent;
}

.card img {
    margin-top: 20px;
    max-width: 150px;
    align-self: center;
}

.altura-1 {
    min-height: 580px;
}

.altura-2 {
    min-height: 500px;
}

.altura-3 {
    min-height: 400px;
}

.altura-4 {
    min-height: auto;
}

@media screen and (max-width: 768px) and (orientation: portrait) {
    .altura-1 {
        min-height: auto;
    }
    .altura-2 {
        min-height: auto;
    }
    .altura-3 {
        min-height: auto;
    }
}

@media screen and (max-width: 992px) and (orientation: landscape) {
    .altura-2 {
        min-height: 450px;
    }
}