<div class="inicio pb-5">

    <div class="seccion-portada">
        <app-seccion-portada></app-seccion-portada>
    </div>

    <div class="seccion-informacion">
        <app-seccion-informacion></app-seccion-informacion>
    </div>

    <div class="seccion-actividades">
        <app-seccion-actividades></app-seccion-actividades>
    </div>

    <div class="separador">
        <app-separador texto1="LA FAMILIA SE MANTIENE A TRAVES DEL" textoColor="AMOR," texto2="NO IMPORTAN LOS GENES."></app-separador>
    </div>

    <div class="seccion-contacto">
        <app-seccion-contacto></app-seccion-contacto>
    </div>
</div>